:root {
	padding: 0;
	margin: 0;
}

h1 {
	text-align: center;
	background-color: green;
	color: black;
	padding: 0.5em;
}

.team-area {
	flex-wrap: wrap;
}

.employee-card {
	height: 100%;
}

.card-header {
	background-color: black;
	color: white;
	text-align: center;
}

.card-body {
	background-color: green;
	color: black;
}

.list-group-item {
	background-color: white;
	color: black;
}
